USE [TechHealthDb]
GO
/****** Object:  User [Health_Analyst]    Script Date: 25-03-2026 13:39:12 ******/
CREATE USER [Health_Analyst] FOR LOGIN [Health_Analyst] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Service_Tickets_support]    Script Date: 25-03-2026 13:39:12 ******/
CREATE USER [Service_Tickets_support] FOR LOGIN [Service_Tickets_support] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Analyst_support]    Script Date: 25-03-2026 13:39:12 ******/
CREATE ROLE [Analyst_support]
GO
/****** Object:  DatabaseRole [Ticket_support]    Script Date: 25-03-2026 13:39:12 ******/
CREATE ROLE [Ticket_support]
GO
ALTER ROLE [Analyst_support] ADD MEMBER [Health_Analyst]
GO
ALTER ROLE [Ticket_support] ADD MEMBER [Service_Tickets_support]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateWellnessScore]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculateWellnessScore] (
    @avg_daily_steps INT,
    @avg_exercise_minutes INT,
    @avg_sleep_hours DECIMAL(3,1)
)
RETURNS DECIMAL(5,3)
AS
BEGIN
    RETURN (
        (CAST(@avg_daily_steps AS DECIMAL) / 10000) +
        (CAST(@avg_exercise_minutes AS DECIMAL) / 60) +
        (CAST(@avg_sleep_hours AS DECIMAL) / 8)
    ) / 3;
END;
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[sale_id] [varchar](10) NOT NULL,
	[user_id] [varchar](10) NOT NULL,
	[sale_date] [date] NOT NULL,
	[product_id] [varchar](20) NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[discount_applied] [decimal](5, 2) NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[payment_method] [varchar](50) NOT NULL,
	[subscription_plan] [varchar](50) NULL,
	[sales_channel] [varchar](50) NOT NULL,
	[region] [varchar](50) NOT NULL,
	[sales_rep_id] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MultinationalSalesSummary]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the indexed view.
CREATE VIEW [dbo].[MultinationalSalesSummary] 
WITH SCHEMABINDING 
AS
SELECT 
    region, 
    product_id, 
    SUM(total_amount) AS TotalSales,
    COUNT_BIG(*) AS row_count
FROM dbo.Sales
GROUP BY region, product_id;
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IDX_MultinationalSales]    Script Date: 25-03-2026 13:39:13 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX_MultinationalSales] ON [dbo].[MultinationalSalesSummary]
(
	[region] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[user_id] [varchar](10) NOT NULL,
	[age] [int] NOT NULL,
	[gender] [char](1) NOT NULL,
	[occupation] [varchar](100) NULL,
	[income_bracket] [varchar](20) NULL,
	[registration_date] [date] NOT NULL,
	[subscription_type] [varchar](50) NOT NULL,
	[location_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthMetrics]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthMetrics](
	[record_id] [varchar](10) NOT NULL,
	[user_id] [varchar](10) NOT NULL,
	[month_date] [date] NOT NULL,
	[avg_heart_rate] [int] NOT NULL,
	[avg_resting_heart_rate] [int] NOT NULL,
	[avg_daily_steps] [int] NOT NULL,
	[avg_sleep_hours] [decimal](3, 1) NOT NULL,
	[avg_deep_sleep_hours] [decimal](3, 1) NOT NULL,
	[avg_daily_calories] [int] NOT NULL,
	[avg_exercise_minutes] [int] NOT NULL,
	[avg_stress_level] [decimal](3, 1) NULL,
	[avg_blood_oxygen] [decimal](4, 1) NOT NULL,
	[total_active_days] [int] NOT NULL,
	[workout_frequency] [int] NOT NULL,
	[achievement_rate] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserHealthSummary]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserHealthSummary] AS
SELECT 
    c.age,
    c.occupation,
    c.income_bracket,
    hm.avg_heart_rate,
    hm.avg_daily_steps,
    hm.avg_sleep_hours,
    hm.avg_stress_level
FROM [dbo].[Customers] c
JOIN [dbo].[HealthMetrics] hm ON c.user_id = hm.user_id;
GO
/****** Object:  Table [dbo].[Coach_Customer]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach_Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coach_id] [varchar](10) NULL,
	[user_id] [varchar](10) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[coach_id] [varchar](10) NOT NULL,
	[first_name] [varchar](50) NULL,
	[Last_name] [varchar](50) NULL,
	[specialization] [varchar](50) NULL,
	[experience_years] [int] NULL,
	[certification] [varchar](100) NULL,
	[reigon] [varchar](50) NULL,
	[contact_email] [varchar](100) NULL,
	[contact_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[coach_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[device_id] [varchar](10) NOT NULL,
	[user_id] [varchar](10) NOT NULL,
	[device_type] [varchar](100) NOT NULL,
	[purchase_date] [date] NOT NULL,
	[last_sync_date] [date] NOT NULL,
	[firmware_version] [varchar](10) NOT NULL,
	[battery_life_days] [decimal](3, 1) NOT NULL,
	[sync_frequency_daily] [int] NOT NULL,
	[active_hours_daily] [decimal](3, 1) NOT NULL,
	[total_steps_recorded] [bigint] NOT NULL,
	[total_workouts_recorded] [int] NOT NULL,
	[sleep_tracking_enabled] [bit] NOT NULL,
	[heart_rate_monitoring_enabled] [bit] NOT NULL,
	[gps_enabled] [bit] NOT NULL,
	[notification_enabled] [bit] NOT NULL,
	[device_status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeoLocation]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeoLocation](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[city] [varchar](100) NOT NULL,
	[state] [varchar](50) NULL,
	[country] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GeoLocation_Location] UNIQUE NONCLUSTERED 
(
	[city] ASC,
	[state] ASC,
	[country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthMetricsAudit]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthMetricsAudit](
	[audit_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](10) NULL,
	[old_value] [int] NULL,
	[new_value] [int] NULL,
	[updated_on] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_key] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [varchar](20) NULL,
	[product_name] [varchar](100) NOT NULL,
	[product_category] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Products_ProductID] UNIQUE NONCLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Tickets]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Tickets](
	[ticket_id] [varchar](10) NOT NULL,
	[user_id] [varchar](10) NULL,
	[device_id] [varchar](10) NULL,
	[issue_description] [varchar](255) NULL,
	[ticket_status] [varchar](50) NULL,
	[creation_date] [date] NULL,
	[resolution_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_active_coaching]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_active_coaching] ON [dbo].[Coach_Customer]
(
	[user_id] ASC
)
WHERE ([end_date] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Coach_Customer_coach_id_user_id]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_Coach_Customer_coach_id_user_id] ON [dbo].[Coach_Customer]
(
	[coach_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coach_Customer_user_id]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [IX_Coach_Customer_user_id] ON [dbo].[Coach_Customer]
(
	[user_id] ASC,
	[coach_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coaches_coach_id]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [IX_Coaches_coach_id] ON [dbo].[Coaches]
(
	[coach_id] ASC,
	[first_name] ASC,
	[Last_name] ASC,
	[specialization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customers_retention]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_customers_retention] ON [dbo].[Customers]
(
	[user_id] ASC,
	[registration_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Customers_Subscription]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_Customers_Subscription] ON [dbo].[Customers]
(
	[subscription_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_device_lastsync]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_device_lastsync] ON [dbo].[Devices]
(
	[user_id] ASC
)
INCLUDE([last_sync_date]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Devices_Status]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_Devices_Status] ON [dbo].[Devices]
(
	[device_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Devices_status_user_type]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_Devices_status_user_type] ON [dbo].[Devices]
(
	[device_status] ASC
)
INCLUDE([user_id],[device_type]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Devices_user]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_Devices_user] ON [dbo].[Devices]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_GeoLocation_country]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_GeoLocation_country] ON [dbo].[GeoLocation]
(
	[country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_HealthMetrics_Achievement80]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_HealthMetrics_Achievement80] ON [dbo].[HealthMetrics]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_healthmetrics_activity]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_healthmetrics_activity] ON [dbo].[HealthMetrics]
(
	[user_id] ASC
)
INCLUDE([total_active_days]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_HealthMetrics_Steps]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_HealthMetrics_Steps] ON [dbo].[HealthMetrics]
(
	[avg_daily_steps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_HealthMetrics_user_steps]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_HealthMetrics_user_steps] ON [dbo].[HealthMetrics]
(
	[user_id] ASC,
	[avg_daily_steps] ASC
)
INCLUDE([total_active_days]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HealthMetrics_user_id_achievement_rate]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [IX_HealthMetrics_user_id_achievement_rate] ON [dbo].[HealthMetrics]
(
	[user_id] ASC,
	[achievement_rate] ASC,
	[avg_exercise_minutes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Sales_user_id_sale_date]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [IX_Sales_user_id_sale_date] ON [dbo].[Sales]
(
	[user_id] ASC,
	[sale_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_ServiceTickets_status]    Script Date: 25-03-2026 13:39:13 ******/
CREATE NONCLUSTERED INDEX [idx_ServiceTickets_status] ON [dbo].[Service_Tickets]
(
	[ticket_status] ASC
)
INCLUDE([creation_date],[user_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT (getdate()) FOR [purchase_date]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ((0)) FOR [sleep_tracking_enabled]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ((0)) FOR [heart_rate_monitoring_enabled]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ((0)) FOR [gps_enabled]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ((0)) FOR [notification_enabled]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [sale_date]
GO
ALTER TABLE [dbo].[Coach_Customer]  WITH CHECK ADD  CONSTRAINT [FK_CoachCustomer_Coach] FOREIGN KEY([coach_id])
REFERENCES [dbo].[Coaches] ([coach_id])
GO
ALTER TABLE [dbo].[Coach_Customer] CHECK CONSTRAINT [FK_CoachCustomer_Coach]
GO
ALTER TABLE [dbo].[Coach_Customer]  WITH CHECK ADD  CONSTRAINT [FK_CoachCustomer_Customer] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customers] ([user_id])
GO
ALTER TABLE [dbo].[Coach_Customer] CHECK CONSTRAINT [FK_CoachCustomer_Customer]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_GeoLocation] FOREIGN KEY([location_id])
REFERENCES [dbo].[GeoLocation] ([location_id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_GeoLocation]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_Customers] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customers] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_Customers]
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD  CONSTRAINT [FK_HealthMetrics_Customers] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customers] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HealthMetrics] CHECK CONSTRAINT [FK_HealthMetrics_Customers]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Customers] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customers] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Customers]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Products]
GO
ALTER TABLE [dbo].[Service_Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Customers] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customers] ([user_id])
GO
ALTER TABLE [dbo].[Service_Tickets] CHECK CONSTRAINT [FK_Tickets_Customers]
GO
ALTER TABLE [dbo].[Service_Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Devices] FOREIGN KEY([device_id])
REFERENCES [dbo].[Devices] ([device_id])
GO
ALTER TABLE [dbo].[Service_Tickets] CHECK CONSTRAINT [FK_Tickets_Devices]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([age]>=(0) AND [age]<=(120)))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([gender]='F' OR [gender]='M'))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([subscription_type]='Enterprise' OR [subscription_type]='Premium' OR [subscription_type]='Basic'))
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD CHECK  (([active_hours_daily]>=(0) AND [active_hours_daily]<=(24)))
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD CHECK  (([battery_life_days]>=(0)))
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD CHECK  (([device_status]='Retired' OR [device_status]='Inactive' OR [device_status]='Active'))
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD CHECK  (([sync_frequency_daily]>=(0)))
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD CHECK  (([total_steps_recorded]>=(0)))
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD CHECK  (([total_workouts_recorded]>=(0)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([achievement_rate]>=(0) AND [achievement_rate]<=(1)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_blood_oxygen]>=(80) AND [avg_blood_oxygen]<=(100)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_daily_steps]>=(0)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_deep_sleep_hours]>=(0) AND [avg_deep_sleep_hours]<=(12)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_daily_calories]>=(0)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_exercise_minutes]>=(0)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_heart_rate]>=(30) AND [avg_heart_rate]<=(200)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_resting_heart_rate]>=(30) AND [avg_resting_heart_rate]<=(100)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_sleep_hours]>=(0) AND [avg_sleep_hours]<=(24)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([avg_stress_level]>=(0) AND [avg_stress_level]<=(10)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([total_active_days]>=(0) AND [total_active_days]<=(31)))
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD CHECK  (([workout_frequency]>=(0) AND [workout_frequency]<=(7)))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [CHK_ValidDiscount] CHECK  (([discount_applied]>=(0) AND [discount_applied]<=(100)))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [CHK_ValidDiscount]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([discount_applied]>=(0) AND [discount_applied]<=(100)))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([payment_method]='Bank Transfer' OR [payment_method]='PayPal' OR [payment_method]='Credit Card'))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([sales_channel]='Direct Sales' OR [sales_channel]='Retail' OR [sales_channel]='Online'))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[Service_Tickets]  WITH CHECK ADD  CONSTRAINT [Chk_TicketStatus_ValidValues] CHECK  (([ticket_Status]='In Progress' OR [ticket_Status]='Resolved' OR [ticket_Status]='Open'))
GO
ALTER TABLE [dbo].[Service_Tickets] CHECK CONSTRAINT [Chk_TicketStatus_ValidValues]
GO
/****** Object:  StoredProcedure [dbo].[ResolveServiceTickets]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResolveServiceTickets]
    @updateDate DATE,
    @updateTicketStatus NVARCHAR(50)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE [dbo].[Service_Tickets]
        SET ticket_status = 'Resolved',
            resolution_date = @updateDate
        WHERE ticket_status = @updateTicketStatus
          AND resolution_date IS NULL;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        PRINT 'An error occurred while resolving tickets.';
        PRINT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  Trigger [dbo].[trg_ValidateCoachDates]    Script Date: 25-03-2026 13:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ValidateCoachDates]
ON [dbo].[Coach_Customer]
AFTER INSERT, UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM inserted 
        WHERE start_date IS NOT NULL AND end_date IS NOT NULL 
          AND end_date < start_date
    )
    BEGIN
        RAISERROR ('End date cannot be before start date.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[Coach_Customer] ENABLE TRIGGER [trg_ValidateCoachDates]
GO
/****** Object:  Trigger [dbo].[trg_AuditUpdate_HealthMetrics]    Script Date: 25-03-2026 13:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AuditUpdate_HealthMetrics]
ON [dbo].[HealthMetrics]
AFTER UPDATE
AS
BEGIN
    INSERT INTO HealthMetricsAudit (user_id, old_value, new_value, updated_on)
    SELECT 
        d.user_id,
        d.avg_daily_steps,
        i.avg_daily_steps,
        GETDATE()
    FROM inserted i
    JOIN deleted d ON i.user_id = d.user_id
    WHERE d.avg_daily_steps <> i.avg_daily_steps;
END;
GO
ALTER TABLE [dbo].[HealthMetrics] ENABLE TRIGGER [trg_AuditUpdate_HealthMetrics]
GO
